/*!
* Accessorizeeveryone.net Coupon CSS v1.0.0
* Copyright 2015 The Accessory Store
*/
body {
  margin-top: 20px;
}

.coupon {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #FFFFFF;
  border: 3px dashed #59b200;
  text-align: center;
}

.coupon-instructions {
  color: #DDD;
}

.coupon-body {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.coupon-footer {
  display: block;
  padding-bottom: 50px;
}

.coupon-ltext {
  text-align: left;
  color: #CC0000;
}

.coupon-rtext {
  color: #BBB;
  text-align: right;
  font-size: 34px;
  font-weight: 900;
}

a.coupon:link, a.coupon:visited, a.coupon:hover, a.coupon:active {
  text-decoration: none;
  color: #111;
}

#back-btn {
  margin-top: 5px;
}

#print-btn {
  margin-bottom: 5px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-this, #print-this * {
    visibility: visible;
  }
  #print-this {
    position: absolute;
    left: 0;
    top: 0;
  }
}
