/*!
* Static-Fusion LightBox v0.0.1
* Copyright 2017 Static-Fusion.net
*/
.modal {
    text-align: center;
}

.lightbox {
    display: inline-block;
}

.img_container {
    position: relative;
    margin: 30px auto;
    background-color: #FFF;
    padding: 25px;
}

.lightbox > .img_container > img {
    border: 5px solid #fff;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.img_container > .close {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: .5;
        filter: alpha(opacity=50);
}
