/*!
* Accessorizeeveryone.net Main CSS v1.0.0
* Copyright 2015 The Accessory Store
*/
body, html {
  height: 100%;
}

body {
  background-color: #111 ;
}

.product-table {
  width: 100%;
  font-family: Rokkitt, Serif;
  font-weight: 700;
  color: #DDD;
  font-size: 18px;
  margin-bottom: 25px;
}

.product-table-brand {
  text-align: right;
  padding-right: 20px;
  vertical-align: top;
  font-size: 21px;
}

.product-table-description {
  vertical-align: top;
  font-size: 18px;
}

.content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -37px;
}

.footer, .content-push {
  position: relative;
  height: 37px;
}

header {
  border-bottom: 3px solid #80ff00;
  padding: 36px 0px;
  width: 100%;
}

div.logo {
  width: 100%;
}

img.logo {
  width: 100%;
  max-width: 460px;
}

.social_icons ul {
  list-style-type: none;
  list-style: none;
  text-align: right;
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.social_icons ul li {
  display: inline;
  margin: 0px;
  padding: 0px 0px 0px 4px;
  border: 0px;
  line-height: 18px;
}

.social_icons ul li a img {
  border-radius: 3px;
  background-clip: padding-box;
  display: inline;
  height: 24px;
  width: auto;
}

.cta_box {
  margin-top: 25px;
  line-height: 24px;
}

.cta_box p {
  color: #59b200;
  font-family: Rokkitt, serif;
  font-size: 29px;
  font-weight: 400;
  line-height: 20 px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: right;
}

.cta_box p strong {
  color: #80ff00;
  display: block;
  font-size: 50px;
  font-weight: 700;
  margin: 18px 0px 10px 0px;
}

headeraddress {
  color: #FFF;
  font-size: 20px;
}

ul.nav.navbar-nav li {
  text-align: center;
}

.navbar-nav {
  margin: 0px -15px;
  border-right: 1px solid #428400;
}

.navbar {
  min-height: 0px;
  margin-bottom: 40px !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
   background-color: #408000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #80ff00;
}

.navbar-default {
  border-radius: 0px;
  border: none;
  background-image: -webkit-linear-gradient(top, #4D9A00 0, #59b200 100%);
  background-image: -o-linear-gradient(top, #4D9A00 0, #59b200 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4D9A00), to(#59b200));
  background-image: linear-gradient(to bottom, #4D9A00 0, #59b200 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D9A00', endColorstr='#59b200', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: Rokkitt, serif;
  font-size: 16px;
  font-weight: 700;
}

.navbar-default .navbar-nav > .active > a {
  color: #408000;
  background-image: -webkit-linear-gradient(top, #66CD00 0, #80ff00 100%);
  background-image: -o-linear-gradient(top, #66CD00 0, #80ff00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #66CD00), to(#80ff00));
  background-image: linear-gradient(to bottom, #66CD00 0, #80ff00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66CD00', endColorstr='#80ff00', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
  box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #408000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #408000;
  background-image: -webkit-linear-gradient(top, #73E600 0, #80ff00 100%);
  background-image: -o-linear-gradient(top, #73E600 0, #80ff00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73E600), to(#80ff00));
  background-image: linear-gradient(to bottom, #73E600 0, #80ff00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73E600', endColorstr='#80ff00', GradientType=0);
}

.navbar-default .navbar-nav > li > a:hover {
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);
  box-shadow: inset 0 3px 9px rgba(0,0,0,0.075);

}

.navbar-default .navbar-nav > li > a:focus {
  -webkit-box-shadow: inset 0px 4px 10px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px 4px 10px 0px rgba(0,0,0,0.25);
}



.navbar-default .navbar-toggle, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #428400;
}

.navbar-toggle {
  padding: 5px 6px;
}

.nav_item {
  border-left: 1px solid #428400;
}

.page_header {
  text-align: center;
}

.page_header > h1 {
  color: #80ff00;
  font-size: 32px;
  text-transform: uppercase;
  font-family: Rokkitt, serif;
  font-weight: 700;
  line-height: 32px;
  border-bottom: 3px solid #80ff00;
  margin-bottom: 36px;
}

.home_image {
  border: 3px solid #80ff00;
  float: right;
  width: 50%;
  margin: 0px 0px 18px 18px;
}

.about_image {
  border: 3px solid #80ff00;
  float: left;
  width: 50%;
  margin: 0px 18px 18px 0px;
}

h2.sub_header {
  color: #59b200;
  font-size: 28;
  font-family: Rokkitt, serif;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 18px;
}

p.body_content {
  font-size: 16px;
  color: #DDD;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 18px;
}

.copyright p {
  color: #59b200;
  font-family: Rokkitt, serif;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
}

.body_container {
  padding-bottom: 36px;
}

.about_img, .products_img {
  margin-bottom: 18px;
}

.about_img img, .products_img img {
  width: 100%;
  height: auto;
  border: 3px solid #80ff00;
}

.products_list h4 {
  width: 100%;
  font-size: 22;
  font-family: Rokkitt, serif;
  font-weight: 700;
  margin-bottom: 18px;
  color: #DDD;
}

a.contact_link {
  color: #80ff00;
  font-weight: bold;
}

.map_wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-top: 20px;
}

.map_frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid #80ff00;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.contact_us_form .form-group label {
  color: #DDD;
  margin: 0px;
  font-weight: normal;
}

.contact_us_form .form-group {
  margin-bottom: 20px
}

.required {
  color: #EE0000;
}

/*! small phone screens */
@media (max-width: 479px) {
  div.logo {
    text-align: center;
  }
  img.logo {
    width: 255px;
  }
  div.social_icons {
    width: 100%;
  }
  .social_icons ul {
    text-align: center;
  }
  .cta_box p {
    text-align: center;
  }
}

/*! phone screens */
@media (min-width: 480px) {
  div.logo {
    text-align: center;
  }
  img.logo {
    width: 357px;
  }
  div.social_icons {
    width: 100%;
  }
  .social_icons ul {
    text-align: center;
  }
  .cta_box p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .home_image_container {
    text-align: center;
  }
  .about_image_container {
    text-align: center;
  }

  .home_image {
    border: 3px solid #80ff00;
    float: none;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .about_image {
    border: 3px solid #80ff00;
    float: none;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .about_img, .products_img {
    text-align: center;
  }

  .about_img img, .products_img img {
    width: 50%;
  }
}

/*! tablet screens */
@media (min-width: 768px) {
  div.logo {
    text-align: left;
  }
  img.logo {
    width: 357px;
  }
  .social_icons ul {
    text-align: right;
  }
  .cta_box p {
    text-align: right;
  }
  .navbar-nav {
    margin: 0px auto;
    display: table;
    table-layout: fixed;
    float:none !important;
  }
  .navbar-nav > li > a {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 6px 5px 6px;
  }
}

/*! desktop screens */
@media (min-width: 992px) {
  img.logo {
    width: 364px;
  }
  .social_icons ul {
    text-align: right;
  }
  .cta_box p {
    text-align: right;
  }
  .navbar-nav > li > a {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 12px 10px 12px;
  }
}

/*! lg desktop screens */
@media (min-width: 1200px) {
  img.logo {
    width: 460px;
  }
  .social_icons ul {
    text-align: right;
  }
  .cta_box p {
    text-align: right;
  }
}

.coupon {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #FFFFFF;
  border: 3px dashed #59b200;
  text-align: center;
}

.coupon-instructions {
  color: #DDD;
}

.coupon-body {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.coupon-footer {
  display: block;
  padding-bottom: 50px;
}

.coupon-ltext {
  text-align: left;
  color: #CC0000;
}

.coupon-rtext {
  color: #BBB;
  text-align: right;
  font-size: 34px;
  font-weight: 900;
}

a.coupon:link, a.coupon:visited, a.coupon:hover, a.coupon:active {
  text-decoration: none;
  color: #111;
}
